In [2]:
import numpy as np
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,39,93,39]))
demo_matrix[2,3]

39

In [3]:
np.arange(0,22,6)

array([ 0,  6, 12, 18])

In [4]:
demo_array = np.arange(10,17)
demo_array [:]= 101
demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [12]:
import pandas as pd
demo_array = pd.DataFrame(np.arange(10,17))
demo_array
demo_a = pd.DataFrame(np.arange(11,18))
pd.concat([demo_array , demo_a], axis=0)

    0
0  10
1  11
2  12
3  13
4  14
5  15
6  16
0  11
1  12
2  13
3  14
4  15
5  16
6  17

In [15]:
football = [5, 3, 0, 6, 2, 1]

In [16]:
 football = np.array(football)

In [17]:
type(football)

numpy.ndarray