# Pivot Table

### Use three columns: Sales, Store and Location. From the given data frame and compute 'Mean Sales' for each store by location

In [5]:
df_store = pd.DataFrame({'Store': ['A', 'B', 'A', 'C', 'D', 'A', 'D', 'A', 'C', 'B'],
'Location': ['Mumbai', 'Pune', 'Hyderabad', 'Mumbai', 'Pune', 'Delhi', 'Hyderabad', 'Pune',
'Mumbai', 'Pune'],
'Sales': [40000, 45600, 56000, 90000, 89000, 87000, 85000, 78000, 89000, 70000]
})

df_store

NameError: name 'pd' is not defined

In [4]:
# Write your code here
pd.p

Object `df_store.pivot` not found.