In [19]:
import pandas as pd
def calculate_demographic_data(print_data=True):
    # Read data from file
    df =  pd.read_csv("adult.data.csv")

    #print(df[['native-country','salary']].count_values())
    
    
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    mask = (df['sex']=='Male')
    average_age_men = round(df[mask].age.mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    mask = (df['education']=='Bachelors')
    percentage_bachelors = round((len(df[mask]) / df.shape[0])*100,1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    mask = ((df['education'] =='Bachelors') | 
        (df['education'] =='Masters')| 
        (df['education'] =='Doctorate')) 
    higher_education = len(df[mask]) / df.shape[0]


    mask = ((df['education'] !='Bachelors') &
        (df['education'] !='Masters')& 
        (df['education'] !='Doctorate')) 
    lower_education = len(df[mask]) / df.shape[0]

    # percentage with salary >50K
    mask = ((df['education'] =='Bachelors') |
        (df['education'] =='Masters')| 
        (df['education'] =='Doctorate')) & (df['salary']=='>50K')
    higher_education_rich = round((len(df[((df['education'] =='Bachelors') | (df['education'] =='Masters')|  (df['education'] =='Doctorate')) & (df['salary']=='>50K')]) / len(df[((df['education'] =='Bachelors') | 
        (df['education'] =='Masters')| 
        (df['education'] =='Doctorate')) ])) * 100 , 1)



    mask = ((df['education'] !='Bachelors') &
        (df['education'] !='Masters')& 
        (df['education'] !='Doctorate')) & (df['salary']=='>50K')
    
    lower_education_rich =  len(df[mask]) / df.shape[0]

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = min(df['hours-per-week'])

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    mask = (df['hours-per-week'] == min(df['hours-per-week'])) & (df['salary']=='>50K')
    num_min_workers =  len(df[mask]) 

    rich_percentage = len(df[mask]) / len(df)

    # What country has the highest percentage of people that earn >50K?
    mask = (df['salary']=='>50K')
    
    highest_earning_country = df[mask]['native-country'].value_counts().index.tolist()[0]
    df["count"] = 1
    #df.info(0)
    master = pd.DataFrame(df['native-country'].unique())
    #master.rename(columns={'0':'country'} , inplace=True)
    master.columns = ['country']
    master = master.set_index('country')
    #master.head()
    totalrich = pd.DataFrame(df[(df['salary']=='>50K')].groupby(['native-country']).count()['count']    )
    totalpoor = pd.DataFrame(df[(df['salary']!='>50K')].groupby(['native-country']).count()['count']    )
    master['totalrich'] = totalrich
    master['totalpoor'] = totalpoor
    master['percentage'] = master['totalrich']  / (master['totalrich'] + master['totalpoor'] )
    master = pd.DataFrame(master.sort_values('percentage' ,  ascending=False) )
    mask = (master['percentage']==max(master['percentage']))
    highest_earning_country_percentage = round(master[mask]['percentage'].value_counts().index.tolist()[0]*100,1)

    # Identify the most popular occupation for those who earn >50K in India.
    mask = (df['native-country']=='India')
    top_IN_occupation = df[(df['native-country']=='India') & (df['salary']=='>50K')].occupation.value_counts()[:1].index.tolist()[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [20]:
calculate_demographic_data(True)

AttributeError: 'DataFrame' object has no attribute 'count_values'

In [7]:
import pandas as pd
df =  pd.read_csv("adult.data.csv")
highest_earning_country = df[df['salary'] == '>50K'].groupby('native-country')['native-country'].count().max()
print(highest_earning_country)

7171

In [362]:

c = pd.concat([df[(df['salary']=='>50K')]['native-country'].value_counts() ,
df[(df['salary']!='>50K')]['native-country'].value_counts()], ignore_index=False)
print(c)

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
                      ...
Cambodia                12
Hungary                 10
Yugoslavia              10
Scotland                 9
Holand-Netherlands       1
Name: native-country, Length: 82, dtype: int64

In [351]:
calculate_demographic_data(True)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 0.13374896348392248%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 6.142317496391388e-05%
Country with highest percentage of rich: United-States
Highest percentage of rich people in country: 0.2408095574460244%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 0.13374896348392248,
 'min_work_hours': 1,
 'rich_percentage': 6.142317496391388e-05,
 'highest_earning_country': 'United-States',
 'highest_earning_country_percentage': 0.2408095574460244,
 'top_IN_occupation': 'Prof-specialty'}

In [345]:
mask = (df['hours-per-week'] == min(df['hours-per-week'])) & (df['salary']=='>50K')
num_min_workers =  len(df[mask]) 
print(num_min_workers)

rich_percentage = len(df[mask]) / len(df)
len(df)

2

32561

In [204]:
dem = pd.read_csv("adult.data.csv")
#print(dem)
dem['race'].value_counts()
dem['age'].mean()

38.58164675532078

In [349]:
    # What is the average age of men?
    mask = (df['sex']=='Male')
    average_age_men = round(df[mask].age.mean(),1)
    average_age_men

39.4

In [133]:
dem.filter(items = ['Bachelors'])
dem['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [38]:
dem['education'].value_counts()


dem.loc[dem['education'] =='Bachelors']

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [84]:
dem[dem['education'] =='Bachelors'].count()

age               5355
workclass         5355
fnlwgt            5355
education         5355
education-num     5355
marital-status    5355
occupation        5355
relationship      5355
race              5355
sex               5355
capital-gain      5355
capital-loss      5355
hours-per-week    5355
native-country    5355
salary            5355
dtype: int64

In [127]:
1

1

In [146]:
mask = ((dem['education'] =='Bachelors') | 
        (dem['education'] =='Masters')| 
        (dem['education'] =='Doctorate')) & (dem['salary']=='>50K')

len(dem[mask]) / dem.shape[0]

0.10706059396210191

In [147]:
mask = ((dem['education'] !='Bachelors') & 
        (dem['education'] !='Masters')& 
        (dem['education'] !='Doctorate')) & (dem['salary']=='>50K')

len(dem[mask]) / dem.shape[0]

0.13374896348392248

In [151]:
mask = (dem['hours-per-week'] == min(dem['hours-per-week'])) & (dem['salary']=='>50K')
len(dem[mask])

2

mask = (dem['salary']=='>50K')

In [236]:
mask = (dem['salary']=='>50K')
df = dem[mask]

['United-States']

In [242]:
len(df[(df['salary']=='>50K')])

7841

In [328]:
mask = (dem['native-country']=='India')
dem[(dem['native-country']=='India') & (dem['salary']=='>50K')].occupation.value_counts()[:1].index.tolist()[0]

'Prof-specialty'

In [324]:
mask = (df['salary']=='>50K')
df[mask]['native-country'].value_counts().index.tolist()[0]

'United-States'